{% extends 'core/base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}

<div class="container">
<div class="py-5 text-center">


<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <div class="card">
      <h2 class="card-header">Registro</h2>
      <div class="card-body">
        <h4 class="card-title">Ingresa tus Datos</h4>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombres:</label>
              <input type="text" class="form-control" id="firstName" placeholder="Nombres" value="" required>
              <div class="invalid-feedback">
                Ingresa tu nombre.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Apellidos:</label>
              <input type="text" class="form-control" id="lastName" placeholder="Apellidos" value="" required>
              <div class="invalid-feedback">
                Ingresa Apellidos.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Correo Electronico:<span class="text-muted"></span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
            <div class="invalid-feedback">
              Por favor ingresa un correo valido.
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="country">Sexo</label>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Selecciona...</option>
                <option>Masculino</option>
                <option>Femenino</option>
              </select>
              <div class="invalid-feedback">
                Por favor selecciona un sexo.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="zip">Matricula</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Requiere ingresar Matricula.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Alumno del TecMM</label>
          </div>
          <hr class="mb-4">

          <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar</button>
        </form>

      </div>
    </div>

  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019-2020 Desarrollo por TecMM</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
</div>
</div>


{% endblock %}
